section{
    width: 80%;
    height: 800px;
    /* background-image: url("https://images.unsplash.com/photo-1663421981703-a4109469adc4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
    background-size: cover;
    background-position: bottom; */
    background: url("https://images.unsplash.com/photo-1663421981703-a4109469adc4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80") no-repeat center/cover;
    margin: 0 auto;
}

h1{
    font-size: 100px;
    color: white;
}